<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setPublisher</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" media="all">
</head>
<style>
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<body>

<!--添加或编辑销售单-->
<!--<div id="setSale" class="layer_self_wrap" style="width:500px;display:none;">-->
<form id="saleForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
    <div style="padding: 10px;"></div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">出版社编号</label>
            <div class="layui-input-inline">
                <input id="publisherId" name="publisherId" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出版社名称</label>
            <div class="layui-input-inline">
                <input id="publisherName" name="publisherName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
                <input id="contact" name="contact" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-inline">
            <input id="publisherTel" name="publisherTel" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出版社地址</label>
        <div class="layui-input-block">
            <input id="publisherAddress" name="publisherAddress" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 0px;">
            <button class="layui-btn"  lay-submit="" lay-filter="publisherSubmit">提交</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="../../static/js/jquery/jquery-3.4.1.min.js"></script>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    layui.use(['table','form'], function(){
        var table = layui.table,
            form = layui.form;

        //监听提交
        form.on('submit(publisherSubmit)', function(data){
            //异步请求提交数据
            localStorage.setItem("publisherData",JSON.stringify(data.field))
            $.ajax({
                url: '/submitpublisher',
                method: 'post',
                data: { "publisherData" : JSON.stringify(data.field)
                },
                async: true,
            });
            parent.location.reload();
            var index = parent.layer.getFrameIndex(window.name);//关闭当前页面
            parent.layer.close(index);
            return false;
        });
    });
</script>

</body>
</html>